body {
  background: #e8e8e8;
  text-align: center;
  user-select: none;
  font-family: 'Proxima Nova', -apple-system, 'Helvetica Neue', Helvetica,
    Roboto, Arial, sans-serif, sans-serif;
}

h1 {
  font-weight: 500;
}

.container {
  padding-top: 40px;
  margin: auto;
}

.range-slider-wrapper {
  display: flex;
  align-items: center;
  max-width: 540px;
  margin: 60px auto;
}

.range-slider-fixed {
  width: 500px;
}

.range-slider {
  position: relative;
  margin: auto;
  background: #fff;
  border: 1px solid #d2d2d2;
  height: 20px;
  position: relative;
  border-radius: 100px;
  width: 330px;
  margin: 0 40px 0 20px;
}

.range-slider-fixed .range-slider {
  margin-right: 20px;
}

.range-slider-label {
  position: relative;
  width: 65px;
  line-height: 20px;
  text-align: center;
  border-radius: 3px;
  background: #454545;
  color: #fff;
  font-size: 14px;
  padding: 6px;
  padding-right: 6px;
}

.range-slider-label--left::before {
  position: absolute;
  top: 50%;
  right: -7px;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-right: 7px solid #2c3e50;
  border-bottom: 7px solid transparent;
  content: '';
  transform: rotate(180deg) translateY(50%);
}

.range-slider-label--right::after {
  position: absolute;
  top: 50%;
  left: -7px;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-right: 7px solid #2c3e50;
  border-bottom: 7px solid transparent;
  content: '';
  transform: translateY(-50%);
}

.range-slider-fixed .range-slider-label {
  background: #4a95c1;
}
.range-slider-fixed .range-slider-label--left::before,
.range-slider-fixed .range-slider-label--right::after {
  border-right: 7px solid #4a95c1;
}

.range-slider-input {
  border: 0;
  font-size: inherit;
  color: inherit;
  background-color: #454545;
  width: 30px;
}

.range-slider-input:focus-visible {
  outline: 0;
}

.range-slider__range {
  background: #71c0ff;
  height: 20px;
  position: absolute;
  border-top: 1px solid #5d99c8;
  border-bottom: 1px solid #5d99c8;
  transform: translateY(-1px);
}

.range-slider__handle {
  width: 32px;
  height: 32px;
  top: -5px;
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
  background: #454545;
  box-shadow: inset -2px -2px 6px 2px rgb(0 0 0 / 10%);
  outline: none;
  border: 0;
  transition: all 0.1s;
  z-index: 2;
}

.range-slider__handle--left {
  left: 0;
}

.range-slider__handle--right {
  left: 100%;
}

.range-slider__handle-fixed--left,
.range-slider__handle-fixed--right {
  transform: translateX(10px);
  background: #4a95c1;
}

.range-slider__handle::before {
  content: '';
  height: 200px;
  position: absolute;
  width: 60px;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}

.range-slider__handle--is-active {
  cursor: grabbing;
  width: 36px;
  height: 36px;
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);
  transform: scale(1.2);
  animation: pulse-white 2s infinite;
  z-index: 10;
}

.range-slider__handle--is-active::before {
  width: 300px;
}

.range-slider__track {
  border-radius: 100px;
  height: 20px;
  position: absolute;
  background-color: #71c0ff;
  width: 100%;
  z-index: 1;
}

.range-slider-fixed__track {
  display: block;
  position: relative;
  width: 100%;
  top: 20px;
  left: 23px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

datalist option {
  height: 5px;
  width: 1px;
  border-left: solid 1px #454545;
}

@keyframes pulse-white {
  0% {
    transform: scale(1.15);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  }

  70% {
    transform: scale(1.2);
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
  }

  100% {
    transform: scale(1.15);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}
