body {
  background: #e8e8e8;
  text-align: center;
  user-select: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.range-slider-container {
  display: flex;
  align-items: center;
  max-width: 510px;
  margin: 60px auto;
}

.range-slider {
  position: relative;
  width: 300px;
  margin: auto;
  margin-right: 50px;
}

.range-slider-label {
  position: relative;
  width: 65px;
  line-height: 20px;
  text-align: center;
  border-radius: 3px;
  background: linear-gradient(#555, #454545);
  color: #fff;
  font-size: 14px;
  padding: 4px;
}

.range-slider-label--left::before {
  position: absolute;
  top: 8px;
  right: -7px;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-right: 7px solid #2c3e50;
  border-bottom: 7px solid transparent;
  content: '';
  transform: rotate(180deg);
}

.range-slider-label--right::after {
  position: absolute;
  top: 8px;
  left: -7px;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-right: 7px solid #2c3e50;
  border-bottom: 7px solid transparent;
  content: '';
}

.range-slider-input {
  border: 0;
  font-size: inherit;
  color: inherit;
  background-color: #454545;
  width: 45px;
}

.range-slider-input:focus-visible {
  outline: 0;
}

.range-slider__track {
  height: 20px;
  background: #fff;
  border: 1px solid #d2d2d2;
  border-radius: 10px;
  width: 330px;
}

.range-slider__handle {
  width: 32px;
  height: 32px;
  top: -5px;
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
  background: linear-gradient(#555, #454545);
}

.range-slider__handle--is-active {
  width: 38px;
  height: 38px;
  cursor: ew-resize;
}
