body {
  background: #fff;
  text-align: center;
}

.range-slider-container {
  display: flex;
  align-items: center;
  max-width: 450px;
  margin: auto;
}

.range-slider {
  position: relative;
  width: 300px;
  margin: auto;
}

.range-slider__track {
  height: 12px;
  background-color: #ccc;
}

.range-slider__handle {
  position: absolute;
  width: 28px;
  height: 28px;
  background-color: #3d77f8;
  top: -8px;
  cursor: ew-resize;
  border-radius: 50%;
}
